<h3>Lista de Planos de Ensino</h3>

<button class="btn btn-block btn-primary" type="button" onclick="Cadastrar()">Cadastrar Plano de Ensino</button>
<br />
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Curso</th>
            <th>Disciplina</th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @{
            foreach (var item in (List<PlanoDeEnsinoModel>)ViewBag.ListaPlanosDeEnsino)
            {
                <tr>
                    <td>@item.IdPlanoDeEnsino</td>
                    <td>@item.nomeCurso</td>
                    <td>@item.nomeDisciplina</td>
                    <td><button type="button" class="btn btn-warning" onclick="Editar(@item.IdPlanoDeEnsino)">Editar</button></td>
                    <td><button type="button" class="btn btn-danger" onclick="Excluir(@item.IdPlanoDeEnsino)">Excluir</button></td>
                </tr>
            }
        }
    </tbody>
</table>
<br />

<script>
    function Cadastrar() {
        window.location.href = '../PlanoDeEnsino/Cadastro';
    }

    function Editar(id) {
        window.location.href = '../PlanoDeEnsino/Cadastro/' + id;
    }

    function Excluir(id) {
        window.location.href = '../PlanoDeEnsino/Excluir/' + id;
    }
</script>